<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.6.9/vue.min.js"></script>
    <link href="https://cdn.bootcss.com/element-ui/2.6.1/theme-chalk/index.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/element-ui/2.6.1/index.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
    <link rel="stylesheet" href="../css/stylesheet.css">
    <link rel="stylesheet" href="../css/shannon.css">
</head>
<body>
<div id="app">
    <el-container style="height:100%" v-clock>
        <el-header>
            <el-row>
                <el-col :offset="1" :span="5" style="display: flex;">
                    <img src="../images/logo.png" style="height:60px; width: auto;"/>
                    <span class="headerName">方神带我们飞</span>
                </el-col>
                <el-col :offset="14" :span="4" style="line-height: 60px;">
                    <span class="headerUsername">{{username}}</span>
                    <el-divider direction="vertical"></el-divider>
                    <span @click="onLogout" id="logoutBtn">logout</span>
                </el-col>
            </el-row>
        </el-header>
        <el-container style="height:100%">
            <el-main>
                <el-row v-if="flag">
                    <el-steps :active="activeStep" finish-status="success">
                        <el-step title="创建新项目"></el-step>
                        <el-step title="选择输入文件"></el-step>
                        <el-step title="格式化字符串"></el-step>
                    </el-steps>
                </el-row>
                <!--<el-row v-if="flag">-->
                    <!--<el-col :span="4" style="justify-content: center;display: flex;">-->
                        <!--<el-dropdown size="medium" split-button type="primary" @command="chooseProject">-->
                            <!--选择项目-->
                            <!--<el-dropdown-menu slot="dropdown">-->
                                <!--<el-dropdown-item v-for="item in projectList" v-bind:command="item.id">项目{{item.name}}</el-dropdown-item>-->
                            <!--</el-dropdown-menu>-->
                        <!--</el-dropdown>-->
                    <!--</el-col>-->
                    <!--<el-col :span="20">-->
                        <!--<el-tabs v-model="tabIndex" :before-leave="clickTab">-->
                            <!--<el-tab-pane name="a" label="上传日志数据"></el-tab-pane>-->
                            <!--<el-tab-pane name="b" label="定义日志格式">1</el-tab-pane>-->
                            <!--<el-tab-pane name="c" label="生成日志图表">2</el-tab-pane>-->
                        <!--</el-tabs>-->
                    <!--</el-col>-->
                <!--</el-row>-->
                <el-row>
                    <el-col :span="3" :offset="1" id="navTitle">最近文件</el-col>
                    <el-col :span="3" :offset="17">
                        <el-upload
                                class="upload-demo"
                                ref="upload"
                                action="/file/upload"
                                :show-file-list="false"
                                :on-success="uploadSuccess"
                                :on-error="uploadFail"
                                :before-upload="beforeUpload"
                        >
                            <el-button id="uploadFileBtn" size="small" slot="trigger">上传文件</el-button>
                        </el-upload>
                    </el-col>
                </el-row>
                <el-row class="topGap">
                    <el-col :offset="1" :span="22">
                        <el-row type="flex" justify="center">
                            <el-col :span="20">
                                <el-input placeholder="关键词" v-model="searchWord" size="small" id="searchInput">
                                    <el-button slot="append" icon="el-icon-search" @click="searchFiles"></el-button>>
                                </el-input>
                            </el-col>
                        </el-row>
                        <el-row class="topGap" type="flex" justify="center">
                            <el-col :span="20">
                                <el-row>
                                    <el-table :data="fileList" style="width:100%;" @selection-change="selectFiles">
                                        <el-table-column
                                                v-if="flag"
                                                type="selection"
                                                width="80">
                                        </el-table-column>
                                        <el-table-column
                                                prop="filename"
                                                label="文件名"
                                                min-width="200">
                                        </el-table-column>
                                        <el-table-column
                                                prop="createDate"
                                                label="上传日期"
                                                min-width="200">
                                        </el-table-column>
                                        <el-table-column
                                                label="操作"
                                                min-width="200">
                                            <template slot-scope="scope">
                                                <el-button
                                                        v-if="!flag"
                                                        class="deleteBtn"
                                                        size="small"
                                                        @click.native.prevent="deleteFile(scope.$index)">
                                                    移除
                                                </el-button>
                                                <el-button
                                                        v-if="!flag"
                                                        class="downloadBtn"
                                                        size="small"
                                                        @click.native.prevent="downloadFile(scope.$index)">
                                                    下载
                                                </el-button>
                                                <el-button
                                                        class="viewBtn"
                                                        size="small"
                                                        @click.native.prevent="viewFile(scope.$index)">
                                                    预览
                                                </el-button>
                                            </template>
                                        </el-table-column>
                                    </el-table>
                                </el-row>
                                <el-row class="topGap" type="flex" justify="center">
                                    <el-pagination
                                            @size-change="listSizeChange"
                                            @current-change="listPageChange"
                                            :current-page.sync="currentPage"
                                            :page-sizes="pageSizeList"
                                            :page-size.sync="pageSize"
                                            layout="sizes, prev, pager, next"
                                            :total="fileListLength">
                                    </el-pagination>
                                </el-row>
                            </el-col>
                        </el-row>
                        <el-row class="topGap" type="flex" justify="center">
                            <el-col :span="20" id="preView">
                                {{fileContent}}
                            </el-col>
                        </el-row>
                        <el-row class="topGap" type="flex" justify="center" v-if="flag">
                            <el-col :span="3">
                                <el-button class="downloadBtn" size="medium" @click="setInputBtn">下一步</el-button>
                            </el-col>
                        </el-row>
                    </el-col>
                </el-row>
            </el-main>
        </el-container>
    </el-container>
</div>

<script>
    var vue=new Vue({
        el:'#app',
        data:{
            username:'username',
            projectList:[{
                name:1,
                id:1
            }, {
                name:2,
                id:2
            }],
            tabIndex:"a",
            searchWord:'',
            fileList:[],
            fileListLength:0,
            currentPage:1,
            pageSize:10,
            pageSizeList:[10, 20, 30, 40, 50],
            fileContent:'选择文件以查看内容',
            selectedFiles:[],
            flag:true, //是否直接进入文件中心
            activeStep:1,
            jobId:-1
        },
        methods:{
            onLogout(){
                window.location.href="/logout";
            },
            chooseProject(command){
                console.log(command);
            },
            clickTab(a,b){
                if(a === 'b') {
                    window.location.href = '/html/taskDefine.html'
                }
                else if(a === 'c'){
                    window.location.href = '/html/taskReport.html'
                }
                return false;
            },
            getFileList(){
                let that = this;
                $.ajax({
                    url:'/file/list',
                    method:'GET',
                    data:{
                        page:that.currentPage-1,
                        pageSize:that.pageSize,
                        filename: that.searchWord
                    },
                    success(res){
                        if(res.code === 0){
                            for(let i of res.data){
                                i.createDate = i.createDate.substring(0,10)
                                    + ' '+ i.createDate.substring(11,19)
                            }
                            that.fileList = res.data;
                        }else{
                            that.$message.error('获取文件信息出错！')
                        }
                    },
                    fail(res){
                        that.$message.error('获取文件信息出错！')
                    }
                });
                this.getListLength();
            },
            getListLength(){
                let that = this;
                $.ajax({
                    url:'/file/count',
                    method:'GET',
                    success(res){
                        if(res.code === 0) {
                            that.fileListLength = res.data;
                        }
                        else{
                            that.$message.error('获取文件信息出错！')
                        }
                    },
                    fail(res){
                        that.$message.error('获取文件信息出错！')
                    }
                })
            },
            listSizeChange(){
                this.getFileList();
            },
            listPageChange(){
                this.getFileList();
            },
            deleteFile(index){
                this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    return new Promise((resolve,reject)=>{
                    $.ajax({
                        url:'/file/remove',
                        method:'DELETE',
                        data:{
                            fileId:this.fileList[index].id
                        },
                        success:resolve,
                        fail:reject
                    })
                }).then((res)=>{
                    if(res.code === 0){
                        this.$message({
                            type: 'success',
                            message: '删除成功!'
                        });
                        this.getFileList();
                    }
                    else {
                        console.log(res);
                        this.$message.error('删除失败！!')
                    }
                }).catch(() => {
                    this.$message.error('删除失败！')
                });
            })
            },
            downloadFile(index){
                window.location.href = '/file/download?fileId='+this.fileList[index].id;
            },
            viewFile(index){
                let that = this;
                console.log(index);
                $.ajax({
                    url:'/file/top5line',
                    method:'GET',
                    data:{
                        fileId: that.fileList[index].id
                    },
                    success(res){
                        if(res.code === 0){
                            that.fileContent = res.data;
                        }
                        else{
                            console.log(res);
                            this.$message.error('删除失败！!')
                        }
                    },
                    fail(res){
                        console.log(res);
                        this.$message.error('预览失败！!')
                    }
                })
            },
            uploadSuccess(res){
                if(res.code === 0) this.getFileList();
                else this.$message.error('上传文件失败！')
            },
            uploadFail(res){
                console.log(res);
                this.$message.error('上传文件失败！')
            },
            beforeUpload(file){
                if(file.size >= 10485760){
                    this.$message.error('上传文件失败！')
                    return false;
                }
            },
            selectFiles(val){
                this.selectedFiles = val;
            },
            searchFiles(){
                this.getFileList();
            },
            setInputBtn(){
                let that = this;
                let filesId=[];
                for(let i of this.selectedFiles){
                    filesId.push(i.id)
                }
                $.ajax({
                    url:'/job/setInput',
                    method:'PUT',
                    data:{
                        files:filesId,
                        jobId:that.jobId
                    },
                    success(res){
                        if(res.code === 0){
                            window.location.href = '/html/taskDefine.html?jobId='+that.jobId;
                        }else{
                            that.$message.error('设定输入文件出错！')
                        }
                    },
                    fail(){
                        that.$message.error('设定输入文件出错！')
                    }
                })
            }
        },
        mounted(){
            let that = this;
            let url = window.location.href;

            if(url.indexOf('flag') >  -1) this.flag = false;
            else this.flag=true;

            if(url.indexOf('jobId') > -1){
                let tmp = url.split('jobId=')
                console.log(tmp)
                this.jobId = parseInt(tmp[1]);
            }

            this.getFileList();
            $.ajax({
                url:'/user/info',
                method:'GET',
                success(res){
                    if(res.code === 0){
                        that.username = res.data.username;
                    }
                    else{
                        that.$message.error('获取用户信息出错！');
                    }
                },
                error(res){
                    that.$message.error('获取用户信息出错！');
                }
            })
        }
    })
</script>
</body>
</html>