<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.6.9/vue.min.js"></script>
    <link href="https://cdn.bootcss.com/element-ui/2.6.1/theme-chalk/index.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/element-ui/2.6.1/index.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
    <link rel="stylesheet" href="../css/stylesheet.css">
    <link rel="stylesheet" href="../css/stylesheet-zhangxin.css">
</head>
<body>
<div id="app">
    <el-container style="height:100%" v-clock>
        <el-header style="background-color: #020E52;color: #b4c6d6;">
            <el-row>
                <el-col :offset="1" :span="5" style="display: flex;">
                    <img src="../images/logo.png" style="height:60px; width: auto;"/>
                    <span class="headerName">楠神带我们飞</span>
                </el-col>
                <el-col :offset="14" :span="4" style="line-height: 60px;">
                    <span class="headerUsername">{{username}}</span>
                    <el-divider direction="vertical"></el-divider>
                    <span @click="onLogout" id="logoutBtn">logout</span>
                </el-col>
            </el-row>
        </el-header>
        <el-container>
            <el-container>
                <div class="list">
                    <el-aside width="250px">
                        <h6 class="listTitle">图表展示项</h6>
                        <el-menu
                                mode="vertical"
                                @select="listChangeHandle">
                            <el-menu-item v-key="item.id" v-for="item in tables" v-bind:index="item.id" class="listItem">
                                <span>{{item.description}}</span>
                            </el-menu-item>
                            <!--<el-menu-item index="requestBrowser" class="listItem">-->
                            <!--<span>请求浏览器分布</span>-->
                            <!--</el-menu-item>-->
                            <!--<el-menu-item index="requestProtocol" class="listItem">-->
                            <!--<span>请求协议分布</span>-->
                            <!--</el-menu-item>-->
                            <!--<el-menu-item index="requestTime" class="listItem">-->
                            <!--<span>请求时间分布</span>-->
                            <!--</el-menu-item>-->
                            <!--<el-menu-item index="requestUrl" class="listItem">-->
                            <!--<span>请求URL分布</span>-->
                            <!--</el-menu-item>-->
                            <!--<el-menu-item index="staticResourceAccess" class="listItem">-->
                            <!--<span>静态资源访问分布</span>-->
                            <!--</el-menu-item>-->
                            <!--<el-menu-item index="httpMethod" class="listItem">-->
                            <!--<span>HTTP方法分布</span>-->
                            <!--</el-menu-item>-->
                            <!--<el-menu-item index="returnStatusCode" class="listItem">-->
                            <!--<span>返回状态码分布</span>-->
                            <!--</el-menu-item>-->
                        </el-menu>
                    </el-aside>
                </div>
                <el-main>
                    <h6 class="keyIndicatorTitle">关键指标</h6>
                    <el-card shadow="hover" v-for="item in summary">
                        <div>
                                    <span class="keyIndicatorText">
                                        {{item.name}}
                                    </span>
                            <br/>
                            <span class="keyIndicatorNumber">
                                        {{item.value}}
                                    </span>
                        </div>
                    </el-card>

                    <el-container>
                        <el-header style="background-color: #FFFFFF;">
                            <el-tabs v-model="activeName" @tab-click="handleClick">

                                <el-tab-pane label="表格" name="first"> <el-main>
                                    <div id="t">
                                        <el-table
                                                style="width: 1200px;min-height: 520px;margin-left: 50px;"
                                                stripe="true"
                                                :data="tableData">
                                            <el-table-column v-for="(item,index) in tableHeader"
                                                             v-bind:prop="'fd'+index"
                                                             v-bind:label="item"
                                                             min-width="180"></el-table-column>
                                        </el-table>
                                        <el-pagination
                                                @size-change="handleSizeChange"
                                                @current-change="handleCurrentChange"
                                                :current-page.sync="pppp"
                                                :page-size="pageSize"
                                                layout="total, prev, pager, next"
                                                :total="count">
                                        </el-pagination>
                                    </div>

                                </el-main></el-tab-pane>
                                <el-tab-pane label="柱状图" name="second" disabled><div id="barChart"></div></el-tab-pane>
                                <el-tab-pane label="折线图" name="third" disabled><div id="lineChart"></div></el-tab-pane>
                                <el-tab-pane label="饼图" name="fourth" disabled><div id="pieChart"></div></el-tab-pane>
                            </el-tabs>
                            <!--<div class="displayType">-->
                            <!--<template>-->
                            <!--<el-select v-model="displayValue" @change="displayChangeHandle">-->
                            <!--<el-option-->
                            <!--v-for="item in displayOptions"-->
                            <!--:label="item.label"-->
                            <!--:value="item.value">-->
                            <!--</el-option>-->
                            <!--</el-select>-->
                            <!--</template>-->
                            <!--</div>-->
                        </el-header>

                    </el-container>
                </el-main>
            </el-container>
        </el-container>
    </el-container>
</div>

<script>
    var vue=new Vue({
        el:'#app',
        data:{
            activeName:'first',
            username:'username',
            jobId:-1,
            version:0,
            summary:[],
            tables: [],
            pppp:1,
            projectList:[{
                name:1,
                id:1
            }, {
                name:2,
                id:2
            }],

            tableData:[],
            echartData:[],
            reportId:0,
            tablePath:'',

            page:0,
            pageSize:10,
            tabIndex:"c",
            count:0,
            tableHeader:[],

            //图表展示项的值，默认为请求浏览器分布
            listValue: 'requestBrowser',

            displayOptions: [{
                value: 'form',
                label: '表格'
            }, {
                value: 'barChart',
                label: '柱状图'
            }, {
                value: 'lineChart',
                label: '折线图'
            }, {
                value: 'pieChart',
                label: '饼图'
            }],

            //展示类型的值，默认为表格
            displayValue: 'form',

            barChart:null,
            lineChart:null,
            pieChart:null,
            barEcharts:null,
            lineEcharts:null,
            pieEcharts:null,

            //7个表格数据
            requestBrowserData:[{
                browserName: 'Chrome',
                number: '1028',
            },{
                browserName: 'Firefox',
                number: '405',
            },{
                browserName: 'Safari',
                number: '253',
            },{
                browserName: 'Opera',
                number: '342',
            },{
                browserName: 'Internet Explorer',
                number: '8',
            },{
                browserName: 'Edge',
                number: '510',
            }],
            requestProtocolData:[],
            requestTimeData:[],
            requestUrlData:[],
            staticResourceAccessData:[],
            httpMethodData:[],
            returnStatusCodeData:[],

        },
        methods:{
            requestGraphData(success){
                $.ajax({
                    url:this.tablePath,
                    method:'GET',
                    data:{
                        reportId:this.reportId,
                        page:0,
                        pageSize:30
                    },
                    success
                })
            },
            hideEchart(chart){
                chart.style.display="none";
            },
            showEchart(chart){
                chart.style.display="block";
            },
            handleClick(item,event){
                switch (item.name) {
                    case 'first':
                        this.requestTableData();
                        break;
                    case 'second':
                        this.hideEchart(this.barChart);
                        this.requestGraphData((res)=>{
                            // this.echartData = res.data;
                            this.echartData=this.tableData;
                            this.barEcharts.setOption(this.testBarChart());
                            this.showEchart(this.barChart);
                        });
                        break;
                    case 'third':
                        this.hideEchart(this.lineChart);
                        this.requestGraphData((res)=>{
                            // this.echartData = res.data;
                            this.echartData=this.tableData;
                            this.lineEcharts.setOption(this.testLineChart());
                            this.showEchart(this.lineChart);
                        })
                        break;
                    case 'fourth':
                        this.hideEchart(this.pieChart);
                        this.requestGraphData((res)=>{
                            // this.echartData = res.data;
                            this.echartData=this.tableData;
                            this.pieEcharts.setOption(this.testPieChart());
                            this.showEchart(this.pieChart);
                        })
                }
            },
            handleSizeChange(val) {
                this.page = 0;
                this.pppp = 1;
                this.pageSize = val;
                this.requestTableData();
                console.log(`每页 ${val} 条`);
            },
            handleCurrentChange(val) {
                this.page = val - 1;
                console.log(`当前页: ${val}`);
                this.requestTableData();
            },
            requestTableData(){
                $.ajax({
                    url:this.tablePath,
                    method:'GET',
                    data:{
                        reportId:this.reportId,
                        page:this.page,
                        pageSize:this.pageSize
                    },
                    success(res){
                        console.log(res);
                        var data = [];
                        for(var i of res.data){
                            var tmp = i.value.split('\1');
                            var o = {};
                            for(var i = 0;i<tmp.length;i++){
                                o['fd'+i]=tmp[i];
                            }
                            data.push(o);
                        }
                        console.log(data);
                        vue.tableData = data;
                    }
                })
            },
            onLogout(){
                window.location.href="/logout";
            },
            chooseProject(command){
                console.log(command);
            },
            clickTab(a,b){
                if(a === 'b') {
                    window.location.href = '/html/taskDefine.html'
                }
                else if(a === 'a'){
                    window.location.href = '/html/fileCenter.html'
                }
                return false;
            },

            //初始化表格和图表
            init(){
                this.requestBrowserForm=document.getElementById("requestBrowserForm");
                this.requestProtocolForm=document.getElementById("requestProtocolForm");
                this.requestTimeForm=document.getElementById("requestTimeForm");
                this.requestUrlForm=document.getElementById("requestUrlForm");
                this.staticResourceAccessForm=document.getElementById("staticResourceAccessForm");
                this.httpMethodForm=document.getElementById("httpMethodForm");
                this.returnStatusCodeForm=document.getElementById("returnStatusCodeForm");
                this.myChart=document.getElementById("myChart");
                this.eCharts=echarts.init(this.myChart);
            },

            //处理展示项变化的回调函数
            listChangeHandle(index,indexPath) {
                if(this.listValue===index.toString()){
                    return;
                }
                for(var i of this.tables){
                    if(i.id === index){
                        this.page=0;
                        this.count = i.count;
                        this.tableHeader = i.schema.split(',');
                        this.tableData=[];
                        this.tablePath = i.path;
                        this.requestTableData();
                        break;
                    }
                }
                this.listValue=index.toString();
                this.display();
            },

            //处理展示类型变化的回调函数
            displayChangeHandle(){
                this.display();
            },

            //设所有元素不可见
            setAllInvisible(){
                this.requestBrowserForm.style.display="none";
                this.requestProtocolForm.style.display="none";
                this.requestTimeForm.style.display="none";
                this.requestUrlForm.style.display="none";
                this.staticResourceAccessForm.style.display="none";
                this.httpMethodForm.style.display="none";

            },

            //设其中一个表格可见
            setFormVisible(){
                switch (this.listValue) {
                    case "requestBrowser":
                        this.requestBrowserForm.style.display="block";
                        break;
                    case "requestProtocol":
                        this.requestProtocolForm.style.display="block";
                        break;
                    case "requestTime":
                        this.requestTimeForm.style.display="block";
                        break;
                    case "requestUrl":
                        this.requestUrlForm.style.display="block";
                        break;
                    case "staticResourceAccess":
                        this.staticResourceAccessForm.style.display="block";
                        break;
                    case "httpMethod":
                        this.httpMethodForm.style.display="block";
                        break;
                    case "returnStatusCode":
                        this.returnStatusCodeForm.style.display="block";
                        break;
                    default:
                        break;
                }
            },

            display(){
                this.barChart=document.getElementById("barChart");
                this.barEcharts=echarts.init(this.barChart);

                this.lineChart=document.getElementById("lineChart");
                this.lineEcharts=echarts.init(this.lineChart);

                this.pieChart=document.getElementById("pieChart");
                this.pieEcharts=echarts.init(this.pieChart);
                // this.eCharts.setOption(this.testBarChart());
                // this.returnStatusCodeForm.style.display="none";
                // this.myChart.style.display="none";
                // this.setAllInvisible();
                // if(this.displayValue!=='form'){
                //     // this.myChart.style.display="block";
                //     //TODO:获取数据
                //     var option;
                //     if(this.displayValue==='barChart'){
                //         option=this.testBarChart();
                //     }
                //     else if(this.displayValue==='lineChart'){
                //         option=this.testLineChart();
                //     }
                //     else if(this.displayValue==='pieChart'){
                //         option=this.testPieChart();
                //     }
                //     this.eCharts.setOption(option);
                // }
                // else{
                //     // this.setFormVisible();
                //     //TODO:获取数据
                // }
            },

            //网络接口，返回未处理的字符串
            getRequestBrowser(){},
            getRequestProtocol(){},
            getRequestTime(){},
            getRequestUrl(){},
            getStaticResourceAccess(){},
            getHttpMethod(){},
            getReturnStatusCode(){},

            testBarChart(){
                var l = 0;
                var r = this.tableHeader.length-1;
                var x = [];
                var y = [];
                for(var i of this.echartData){
                    x.push(i[l+'']);
                    y.push(i[r+'']);
                }
                var option = {
                    title: {
                        text: '测试图表'
                    },
                    tooltip: {},
                    legend: {
                        data:['数量']
                    },
                    xAxis: {
                        type: 'category',
                        data: x
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [{
                        name: '数量',
                        type: 'bar',
                        data: y
                    }]
                };
                return option;
            },

            testLineChart(){
                var l = 0;
                var r = this.tableHeader.length-1;
                var x = [];
                var y = [];
                for(var i of this.echartData){
                    x.push(i[l+'']);
                    y.push(i[r+'']);
                }
                var option = {
                    title: {
                        text: '测试图表'
                    },
                    tooltip: {},
                    legend: {
                        data:['数量']
                    },
                    xAxis: {
                        type: 'category',
                        data: x
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [{
                        name: '数量',
                        type: 'line',
                        data: y
                    }]
                };
                return option;
            },

            testPieChart(){
                var l = 0;
                var r = this.tableHeader.length-1;
                var x = [];
                var y = [];
                for(var i of this.echartData){
                    x.push(i[l+'']);
                    y.push(i[r+'']);
                }
                var option = {
                    title: {
                        text: '测试图表'
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        type: 'scroll',
                        orient: 'vertical',
                        right: 10,
                        top: 20,
                        bottom: 20,
                        data: x
                    },
                    series: [{
                        name: '数量',
                        type: 'pie',
                        data: y
                    }]
                };
                return option;
            }
        },

        mounted(){
            var that = this;

            let url = window.location.href;
            if(url.indexOf('jobId') > -1){
                let tmp = url.split('jobId=');
                that.jobId = parseInt(tmp[1]);
            }

            let intervalId = setInterval(function () {
                $.ajax({
                    url:'/report/status',
                    method:'GET',
                    data:{
                        version:vue.version,
                        jobId:vue.jobId
                    },
                    success(res) {
                        if (res.data != null) {
                            if (res.data.report.status === 1) {
                                clearInterval(intervalId);
                            }

                            if (res.data.report.version > vue.version){
                                //res.data.report.id
                                vue.reportId = res.data.report.id;
                                vue.version = res.data.report.version;
                                vue.summary = res.data.summary;//id,name,description,value
                                if(vue.tables.length == 0 && res.data.tables.length>0){
                                    var i = res.data.tables[0];

                                    vue.page = 0;
                                    vue.count = i.count;
                                    vue.tableHeader = i.schema.split(',');
                                    vue.tableData = [];
                                    vue.tablePath = i.path;
                                    vue.requestTableData();


                                }
                                vue.tables = res.data.tables;//id,name,schema,description,count,path

                                $.ajax({
                                    url:path,
                                    method:'get',
                                    data:{
                                        page:0,
                                        pageSize:10,
                                        reportId:0,
                                    },
                                    success(res){
                                        //res: id , reportId, tableName, value:\1 -- schema:,
                                    }
                                })
                            }
                        }
                    }
                })
            },3000);
            $.ajax({
                url:'/user/info',
                method:'GET',
                success(res){
                    if(res.code === 0){
                        that.username = res.data.username;
                    }
                    else{
                        that.$message.error('获取用户信息出错！');
                    }
                },
                error(res){
                    that.$message.error('获取用户信息出错！');
                }
            });
            // vue.requestTableData();
            // this.display();
        }
    })
</script>
</body>
</html>