<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.6.9/vue.min.js"></script>
    <link href="https://cdn.bootcss.com/element-ui/2.6.1/theme-chalk/index.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/element-ui/2.6.1/index.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
    <link rel="stylesheet" href="../css/stylesheet.css">
    <link rel="stylesheet" href="../css/stylesheet-zhangxin.css">
</head>
<body>
<div id="app">
    <el-container style="height:100%" v-clock>
        <el-header style="background-color: #020E52;color: #b4c6d6;">
            <el-row>
                <el-col :offset="1" :span="5" style="display: flex;">
                    <img src="../images/logo.png" style="height:60px; width: auto;"/>
                    <span class="headerName">方神带我们飞</span>
                </el-col>
                <el-col :offset="14" :span="4" style="line-height: 60px;">
                    <span class="headerUsername">{{username}}</span>
                    <el-divider direction="vertical"></el-divider>
                    <span @click="onLogout" id="logoutBtn">logout</span>
                </el-col>
            </el-row>
        </el-header>
        <el-container>
            <el-container>
                <div class="list">
                    <el-aside width="250px">
                        <h6 class="listTitle">图表展示项</h6>
                        <el-menu
                                mode="vertical"
                                @select="listChangeHandle">
                            <el-menu-item index="requestBrowser" class="listItem">
                                <span>请求浏览器分布</span>
                            </el-menu-item>
                            <el-menu-item index="requestProtocol" class="listItem">
                                <span>请求协议分布</span>
                            </el-menu-item>
                            <el-menu-item index="requestTime" class="listItem">
                                <span>请求时间分布</span>
                            </el-menu-item>
                            <el-menu-item index="requestUrl" class="listItem">
                                <span>请求URL分布</span>
                            </el-menu-item>
                            <el-menu-item index="staticResourceAccess" class="listItem">
                                <span>静态资源访问分布</span>
                            </el-menu-item>
                            <el-menu-item index="httpMethod" class="listItem">
                                <span>HTTP方法分布</span>
                            </el-menu-item>
                            <el-menu-item index="returnStatusCode" class="listItem">
                                <span>返回状态码分布</span>
                            </el-menu-item>
                        </el-menu>
                    </el-aside>
                </div>
                <el-main>
                    <h6 class="keyIndicatorTitle">关键指标</h6>
                    <el-row>
                        <el-col :span="6">
                            <el-card shadow="hover">
                                <div>
                                    <span class="keyIndicatorText">
                                        用户数量
                                    </span>
                                    <br/>
                                    <span class="keyIndicatorNumber">
                                        {{userNumber}}
                                    </span>
                                </div>
                            </el-card>
                        </el-col>
                        <el-col :span="6">
                            <el-card shadow="hover">
                                <div>
                                    <span class="keyIndicatorText">
                                        访问次数
                                    </span>
                                    <br/>
                                    <span class="keyIndicatorNumber">
                                        {{viewNumber}}
                                    </span>
                                </div>
                            </el-card>
                        </el-col>
                        <el-col :span="6">
                            <el-card shadow="hover">
                                <div>
                                    <span class="keyIndicatorText">
                                        发送总字节数
                                    </span>
                                    <br/>
                                    <span class="keyIndicatorNumber">
                                        {{totalSendBytes}}
                                    </span>
                                </div>
                            </el-card>
                        </el-col>
                        <el-col :span="6">
                            <el-card shadow="hover">
                                <div>
                                    <span class="keyIndicatorText">
                                        接收总字节数
                                    </span>
                                    <br/>
                                    <span class="keyIndicatorNumber">
                                        {{totalReceiveBytes}}
                                    </span>
                                </div>
                            </el-card>
                        </el-col>
                    </el-row>
                    <el-container>
                        <el-header style="background-color: #FFFFFF;">
                        <div class="displayType">
                            <template>
                                <el-select v-model="displayValue" @change="displayChangeHandle">
                                    <el-option
                                            v-for="item in displayOptions"
                                            :label="item.label"
                                            :value="item.value">
                                    </el-option>
                                </el-select>
                            </template>
                        </div>
                        </el-header>
                        <el-main>
                            <div id="requestBrowserForm">
                                <el-table
                                        style="width: 1200px;min-height: 520px;margin-left: 50px;"
                                        stripe="true"
                                        :data="requestBrowserData">
                                    <el-table-column
                                            prop="browserName"
                                            label="浏览器"
                                            min-width="180">
                                    </el-table-column>
                                    <el-table-column
                                            prop="number"
                                            label="数量"
                                            min-width="180">
                                    </el-table-column>
                                </el-table>
                            </div>
                            <div id="requestProtocolForm" class="displayTable">
                                <el-table
                                        height="522px"
                                        :data="requestProtocolData">
                                    <!--<el-table-column-->
                                            <!--prop="date"-->
                                            <!--label="日期"-->
                                            <!--width="180">-->
                                    <!--</el-table-column>-->
                                    <!--<el-table-column-->
                                            <!--prop="name"-->
                                            <!--label="姓名"-->
                                            <!--width="180">-->
                                    <!--</el-table-column>-->
                                    <!--<el-table-column-->
                                            <!--prop="address"-->
                                            <!--label="地址">-->
                                    <!--</el-table-column>-->
                                </el-table>
                            </div>
                            <div id="requestTimeForm" class="displayTable">
                                <el-table
                                        height="522px"
                                        :data="requestTimeData">
                                    <!--<el-table-column-->
                                            <!--prop="date"-->
                                            <!--label="日期"-->
                                            <!--width="180">-->
                                    <!--</el-table-column>-->
                                    <!--<el-table-column-->
                                            <!--prop="name"-->
                                            <!--label="姓名"-->
                                            <!--width="180">-->
                                    <!--</el-table-column>-->
                                    <!--<el-table-column-->
                                            <!--prop="address"-->
                                            <!--label="地址">-->
                                    <!--</el-table-column>-->
                                </el-table>
                            </div>
                            <div id="requestUrlForm" class="displayTable">
                                <el-table
                                        height="522px"
                                        :data="requestUrlData">
                                    <!--<el-table-column-->
                                            <!--prop="date"-->
                                            <!--label="日期"-->
                                            <!--width="180">-->
                                    <!--</el-table-column>-->
                                    <!--<el-table-column-->
                                            <!--prop="name"-->
                                            <!--label="姓名"-->
                                            <!--width="180">-->
                                    <!--</el-table-column>-->
                                    <!--<el-table-column-->
                                            <!--prop="address"-->
                                            <!--label="地址">-->
                                    <!--</el-table-column>-->
                                </el-table>
                            </div>
                            <div id="staticResourceAccessForm" class="displayTable">
                                <el-table
                                        height="522px"
                                        :data="staticResourceAccessData">
                                    <!--<el-table-column-->
                                            <!--prop="date"-->
                                            <!--label="日期"-->
                                            <!--width="180">-->
                                    <!--</el-table-column>-->
                                    <!--<el-table-column-->
                                            <!--prop="name"-->
                                            <!--label="姓名"-->
                                            <!--width="180">-->
                                    <!--</el-table-column>-->
                                    <!--<el-table-column-->
                                            <!--prop="address"-->
                                            <!--label="地址">-->
                                    <!--</el-table-column>-->
                                </el-table>
                            </div>
                            <div id="httpMethodForm" class="displayTable">
                                <el-table
                                        height="522px"
                                        :data="httpMethodData">
                                    <!--<el-table-column-->
                                            <!--prop="date"-->
                                            <!--label="日期"-->
                                            <!--width="180">-->
                                    <!--</el-table-column>-->
                                    <!--<el-table-column-->
                                            <!--prop="name"-->
                                            <!--label="姓名"-->
                                            <!--width="180">-->
                                    <!--</el-table-column>-->
                                    <!--<el-table-column-->
                                            <!--prop="address"-->
                                            <!--label="地址">-->
                                    <!--</el-table-column>-->
                                </el-table>
                            </div>
                            <div id="returnStatusCodeForm" class="displayTable">
                                <el-table
                                        height="520px"
                                        :data="returnStatusCodeData">
                                    <!--<el-table-column-->
                                            <!--prop="date"-->
                                            <!--label="日期"-->
                                            <!--width="180">-->
                                    <!--</el-table-column>-->
                                    <!--<el-table-column-->
                                            <!--prop="name"-->
                                            <!--label="姓名"-->
                                            <!--width="180">-->
                                    <!--</el-table-column>-->
                                    <!--<el-table-column-->
                                            <!--prop="address"-->
                                            <!--label="地址">-->
                                    <!--</el-table-column>-->
                                </el-table>
                            </div>
                            <div id="myChart"></div>
                        </el-main>
                    </el-container>
                </el-main>
            </el-container>
        </el-container>
    </el-container>
</div>

<script>
    var vue=new Vue({
        el:'#app',
        data:{
            username:'username',
            projectList:[{
                name:1,
                id:1
            }, {
                name:2,
                id:2
            }],
            tabIndex:"c",

            //图表展示项的值，默认为请求浏览器分布
            listValue: 'requestBrowser',

            displayOptions: [{
                value: 'form',
                label: '表格'
            }, {
                value: 'barChart',
                label: '柱状图'
            }, {
                value: 'lineChart',
                label: '折线图'
            }, {
                value: 'pieChart',
                label: '饼图'
            }],

            //展示类型的值，默认为表格
            displayValue: 'form',

            //4个统计数据
            userNumber:0,
            viewNumber:0,
            totalSendBytes:0,
            totalReceiveBytes:0,

            //7个表格和图表element
            requestBrowserForm:null,
            requestProtocolForm:null,
            requestTimeForm:null,
            requestUrlForm:null,
            staticResourceAccessForm:null,
            httpMethodForm:null,
            returnStatusCodeForm:null,
            myChart:null,
            eCharts:null,

            //7个表格数据
            requestBrowserData:[{
                browserName: 'Chrome',
                number: '1028',
            },{
                browserName: 'Firefox',
                number: '405',
            },{
                browserName: 'Safari',
                number: '253',
            },{
                browserName: 'Opera',
                number: '342',
            },{
                browserName: 'Internet Explorer',
                number: '8',
            },{
                browserName: 'Edge',
                number: '510',
            }],
            requestProtocolData:[],
            requestTimeData:[],
            requestUrlData:[],
            staticResourceAccessData:[],
            httpMethodData:[],
            returnStatusCodeData:[],

        },
        methods:{
            onLogout(){
                window.location.href="/logout";
            },
            chooseProject(command){
                console.log(command);
            },
            clickTab(a,b){
                if(a === 'b') {
                    window.location.href = '/html/taskDefine.html'
                }
                else if(a === 'a'){
                    window.location.href = '/html/fileCenter.html'
                }
                return false;
            },

            //初始化表格和图表
            init(){
                this.requestBrowserForm=document.getElementById("requestBrowserForm");
                this.requestProtocolForm=document.getElementById("requestProtocolForm");
                this.requestTimeForm=document.getElementById("requestTimeForm");
                this.requestUrlForm=document.getElementById("requestUrlForm");
                this.staticResourceAccessForm=document.getElementById("staticResourceAccessForm");
                this.httpMethodForm=document.getElementById("httpMethodForm");
                this.returnStatusCodeForm=document.getElementById("returnStatusCodeForm");
                this.myChart=document.getElementById("myChart");
                this.eCharts=echarts.init(this.myChart);
            },

            //处理展示项变化的回调函数
            listChangeHandle(index,indexPath) {
                if(this.listValue===index.toString()){
                    return;
                }
                this.listValue=index.toString();
                this.display();
            },

            //处理展示类型变化的回调函数
            displayChangeHandle(){
                this.display();
            },

            //设所有元素不可见
            setAllInvisible(){
                this.requestBrowserForm.style.display="none";
                this.requestProtocolForm.style.display="none";
                this.requestTimeForm.style.display="none";
                this.requestUrlForm.style.display="none";
                this.staticResourceAccessForm.style.display="none";
                this.httpMethodForm.style.display="none";
                this.returnStatusCodeForm.style.display="none";
                this.myChart.style.display="none";
            },

            //设其中一个表格可见
            setFormVisible(){
                switch (this.listValue) {
                    case "requestBrowser":
                        this.requestBrowserForm.style.display="block";
                        break;
                    case "requestProtocol":
                        this.requestProtocolForm.style.display="block";
                        break;
                    case "requestTime":
                        this.requestTimeForm.style.display="block";
                        break;
                    case "requestUrl":
                        this.requestUrlForm.style.display="block";
                        break;
                    case "staticResourceAccess":
                        this.staticResourceAccessForm.style.display="block";
                        break;
                    case "httpMethod":
                        this.httpMethodForm.style.display="block";
                        break;
                    case "returnStatusCode":
                        this.returnStatusCodeForm.style.display="block";
                        break;
                    default:
                        break;
                }
            },

            display(){
                this.setAllInvisible();
                if(this.displayValue!=='form'){
                    this.myChart.style.display="block";
                    //TODO:获取数据
                    var option;
                    if(this.displayValue==='barChart'){
                        option=this.testBarChart();
                    }
                    else if(this.displayValue==='lineChart'){
                        option=this.testLineChart();
                    }
                    else if(this.displayValue==='pieChart'){
                        option=this.testPieChart();
                    }
                    this.eCharts.setOption(option);
                }
                else{
                    this.setFormVisible();
                    //TODO:获取数据
                }
            },

            //网络接口，返回未处理的字符串
            getRequestBrowser(){},
            getRequestProtocol(){},
            getRequestTime(){},
            getRequestUrl(){},
            getStaticResourceAccess(){},
            getHttpMethod(){},
            getReturnStatusCode(){},

            testBarChart(){
                var option = {
                    title: {
                        text: '测试图表'
                    },
                    tooltip: {},
                    legend: {
                        data:['数量']
                    },
                    xAxis: {
                        type: 'category',
                        data: ["1","2","3","4","5","6"]
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [{
                        name: '数量',
                        type: 'bar',
                        data: [5, 20, 36, 10, 10, 20]
                    }]
                };
                return option;
            },

            testLineChart(){
                var option = {
                    title: {
                        text: '测试图表'
                    },
                    tooltip: {},
                    legend: {
                        data:['数量']
                    },
                    xAxis: {
                        type: 'category',
                        data: ["1","2","3","4","5","6"]
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [{
                        name: '数量',
                        type: 'line',
                        data: [5, 20, 36, 10, 10, 20]
                    }]
                };
                return option;
            },

            testPieChart(){
                var option = {
                    title: {
                        text: '测试图表'
                    },
                    tooltip: {},
                    legend: {
                        data:['数量']
                    },
                    xAxis: {
                        type: 'category',
                        data: ["1","2","3","4","5","6"]
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [{
                        name: '数量',
                        type: 'pie',
                        data: [5, 20, 36, 10, 10, 20]
                    }]
                };
                return option;
            }
        },

        //挂载函数
        mounted(){
            var that = this;
            $.ajax({
                url:'/user/info',
                method:'GET',
                success(res){
                    if(res.code === 0){
                        that.username = res.data.username;
                    }
                    else{
                        that.$message.error('获取用户信息出错！');
                    }
                },
                error(res){
                    that.$message.error('获取用户信息出错！');
                }
            });
            that.init();
            that.display();
        }
    })
</script>
</body>
</html>