<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.6.9/vue.min.js"></script>
    <link href="https://cdn.bootcss.com/element-ui/2.6.1/theme-chalk/index.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/element-ui/2.6.1/index.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
    <link rel="stylesheet" href="../css/stylesheet.css">
    <link rel="stylesheet" href="../css/ljy.css">
</head>
<body>
<div id="app">
    <el-container style="height:100%" v-clock>
        <el-header>
            <el-row>
                <el-col :offset="1" :span="5" style="display: flex;">
                    <img src="../images/logo.png" style="height:60px; width: auto;"/>
                    <span class="headerName">方神带我们飞</span>
                </el-col>
                <el-col :offset="14" :span="4" style="line-height: 60px;">
                    <span class="headerUsername">{{username}}</span>
                    <el-divider direction="vertical"></el-divider>
                    <span @click="onLogout" id="logoutBtn">logout</span>
                </el-col>
            </el-row>
        </el-header>
        <el-container style="height:100%">
            <el-container>
                <el-main>
                    <!--在此输入内容-->
                    <el-row>
                        <el-col :span="4" style="justify-content: center;display: flex;">
                            <el-dropdown size="medium" split-button type="primary" @command="chooseProject">
                                选择项目
                                <el-dropdown-menu slot="dropdown">
                                    <el-dropdown-item v-for="item in projectList" v-bind:command="item.id">项目{{item.name}}</el-dropdown-item>
                                </el-dropdown-menu>
                            </el-dropdown>
                        </el-col>
                        <el-col :span="20">
                            <el-tabs v-model="tabIndex" :before-leave="clickTab">
                                <el-tab-pane name="a" label="上传日志数据">1</el-tab-pane>
                                <el-tab-pane name="b" label="定义日志格式"></el-tab-pane>
                                <el-tab-pane name="c" label="生成日志图表">2</el-tab-pane>
                            </el-tabs>
                        </el-col>
                    </el-row>
                    <el-row style="width: 100% ;margin-top: 4%">
                        <el-col :offset="5" :span="14">
                            <el-card shadow="hover" >
                                <div slot="header" class="card-header">
                                    <span>Define</span>
                                </div>
                                <el-form id="defineForm" ref="defineForm" :model="defineForm" :rules="defineRules">
                                    <el-form-item class="inputItem" prop="define">
                                        <el-input v-model="defineForm.define"
                                                  placeholder="请输入获取的日志格式"
                                                  name="define"
                                                  type="textarea"
                                                  :rows="5"
                                                  maxlength="100"
                                                  resize="none"
                                                  clearable
                                                  show-word-limit></el-input>
                                    </el-form-item>
                                    <el-form-item class="inputItem">
                                        <el-row style="width: 100% ;margin-top: 5%">
                                            <el-col :offset="4" :span="4">
                                                <el-button id="createBtn" type="success"  @click="submitForm('defineForm')" >Create</el-button>
                                            </el-col>
                                            <el-col :offset="8" :span="4">
                                                <el-button id="resetBtn" type="danger"  @click="resetForm('defineForm')" >Reset</el-button>
                                            </el-col>
                                        </el-row>
                                    </el-form-item>
                                </el-form>
                            </el-card>
                        </el-col>
                    </el-row>
                </el-main>
            </el-container>
        </el-container>
    </el-container>
</div>

<script>
    var vue=new Vue({
        el:'#app',
        data:{
            username:'username',
            defineForm:{
                define:''
            },
            defineRules:{
                define:[{required: true, message: '项目名不能为空', trigger: 'blur'}],
            },
            projectList:[{
                name:1,
                id:1
            }, {
                name:2,
                id:2
            }],
            tabIndex:"b"
        },
        methods:{
            onLogout(){
                window.location.href="/logout";
            },
            chooseProject(command){
                console.log(command);
            },
            clickTab(a,b){
                if(a === 'a') {
                    window.location.href = '/html/taskUpload.html'
                }
                else if(a === 'c'){
                    window.location.href = '/html/taskReport.html'
                }
                return false;
            },
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        alert('submit!');
                        //这里需要检验字符串是否符合要求！！！
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            resetForm(formName) {
                console.log(this.$refs)
                console.log(this.$refs[formName])

                this.activeFlag=
                    this.$refs[formName].resetFields();
                console.log(formName);
            }
        },
        mounted(){
            var that = this;
            $.ajax({
                url:'/user/info',
                method:'GET',
                success(res){
                    if(res.code === 0){
                        that.username = res.data.username;
                    }
                    else{
                        that.$message.error('获取用户信息出错！');
                    }
                },
                error(res){
                    that.$message.error('获取用户信息出错！');
                }
            })
        }
    })
</script>
</body>
</html>