<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.6.9/vue.min.js"></script>
    <link href="https://cdn.bootcss.com/element-ui/2.6.1/theme-chalk/index.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/element-ui/2.6.1/index.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
    <link rel="stylesheet" href="../css/stylesheet.css">
    <link rel="stylesheet" href="../css/stylesheet-zhangxin.css">
</head>
<body>
<div id="app">
    <el-container style="height:100%" v-clock>
        <el-header style="background-color: #020E52;color: #b4c6d6;">
            <el-row>
                <el-col :offset="1" :span="5" style="display: flex;">
                    <img src="../images/logo.png" style="height:60px; width: auto;"/>
                    <span class="headerName">方神带我们飞</span>
                </el-col>
                <el-col :offset="14" :span="4" style="line-height: 60px;">
                    <span class="headerUsername">{{username}}</span>
                    <el-divider direction="vertical"></el-divider>
                    <span @click="onLogout" id="logoutBtn">logout</span>
                </el-col>
            </el-row>
        </el-header>
        <el-container>
            <el-header style="height: 100px;margin-top: 20px;background-color: #FFFFFF;color: #b4c6d6;">
                <el-row>
                    <el-col :span="4" style="justify-content: center;display: flex;">
                        <el-dropdown size="medium" split-button type="primary" @command="chooseProject">
                                选择项目
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item v-for="item in projectList" v-bind:command="item.id">项目{{item.name}}</el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </el-col>
                    <el-col :span="20">
                        <el-tabs v-model="tabIndex" :before-leave="clickTab">
                            <el-tab-pane name="a" label="上传日志数据"></el-tab-pane>
                            <el-tab-pane name="b" label="定义日志格式"></el-tab-pane>
                            <el-tab-pane name="c" label="生成日志图表"></el-tab-pane>
                        </el-tabs>
                    </el-col>
                </el-row>
            </el-header>
            <el-container>
                <el-aside width="250px">
                    <h6 class="chartListTitle">图表展示项</h6>
                    <el-menu
                            default-active="requestBrowser"
                            mode="vertical"
                            @select="handleSelect">
                        <el-menu-item index="requestBrowser" class="chartListItem">
                            <span slot="title">请求浏览器分布</span>
                        </el-menu-item>
                        <el-menu-item index="requestProtocol" class="chartListItem">
                            <span slot="title">请求协议分布</span>
                        </el-menu-item>
                        <el-menu-item index="requestTime" class="chartListItem">
                            <span slot="title">请求时间分布</span>
                        </el-menu-item>
                        <el-menu-item index="requestUrl" class="chartListItem">
                            <span slot="title">请求URL分布</span>
                        </el-menu-item>
                        <el-menu-item index="staticResourceAccess" class="chartListItem">
                            <span slot="title">静态资源访问分布</span>
                        </el-menu-item>
                        <el-menu-item index="httpMethod" class="chartListItem">
                            <span slot="title">HTTP方法分布</span>
                        </el-menu-item>
                        <el-menu-item index="returnStatusCode" class="chartListItem">
                            <span slot="title">返回状态码分布</span>
                        </el-menu-item>
                    </el-menu>
                </el-aside>
                <el-main>
                    <h6 class="keyIndicator">关键指标</h6>
                    <el-row>
                        <el-col :span="6">
                            <el-card shadow="never">
                                <div>
                                    <span class="keyIndicatorText">
                                        用户数量
                                    </span>
                                    <br/>
                                    <span class="keyIndicatorNumber">
                                        77
                                    </span>
                                </div>
                            </el-card>
                        </el-col>
                        <el-col :span="6">
                            <el-card shadow="never">
                                <div>
                                    <span class="keyIndicatorText">
                                        访问次数
                                    </span>
                                    <br/>
                                    <span class="keyIndicatorNumber">
                                        152
                                    </span>
                                </div>
                            </el-card>
                        </el-col>
                        <el-col :span="6">
                            <el-card shadow="never">
                                <div>
                                    <span class="keyIndicatorText">
                                        发送总字节数
                                    </span>
                                    <br/>
                                    <span class="keyIndicatorNumber">
                                        253
                                    </span>
                                </div>
                            </el-card>
                        </el-col>
                        <el-col :span="6">
                            <el-card shadow="never">
                                <div>
                                    <span class="keyIndicatorText">
                                        接收总字节数
                                    </span>
                                    <br/>
                                    <span class="keyIndicatorNumber">
                                        100
                                    </span>
                                </div>
                            </el-card>
                        </el-col>
                    </el-row>
                    <el-container>
                        <el-aside width="300px">
                            <div class="datePickerBlock">
                                <span class="datePickerTitle">起始日期</span>
                                <br/>
                                <el-date-picker
                                        v-model="startDate"
                                        type="date"
                                        placeholder="选择日期">
                                </el-date-picker>
                            </div>
                            <div class="datePickerBlock">
                                <span class="datePickerTitle">结束日期</span>
                                <br/>
                                <el-date-picker
                                        v-model="endDate"
                                        type="date"
                                        placeholder="选择日期">
                                </el-date-picker>
                            </div>
                            <div class="createButton">
                                <el-button type="success" @click="createChart">生成</el-button>
                            </div>
                        </el-aside>
                        <dl-main>
                            <div id="myChart" style="width: 900px;height:500px;"></div>
                        </dl-main>
                    </el-container>

                </el-main>
            </el-container>
        </el-container>
    </el-container>
</div>

<script>
    var vue=new Vue({
        el:'#app',
        data:{
            username:'username',
            myChart:null,
            selectOption:"requestBrowser",
            projectList:[{
                name:1,
                id:1
            }, {
                name:2,
                id:2
            }],
            tabIndex:"c",
            startDate:'',
            endDate:''
        },
        methods:{
            onLogout(){
                window.location.href="/logout";
            },
            chooseProject(command){
                console.log(command);
            },
            clickTab(a,b){
                if(a === 'b') {
                    window.location.href = '/html/taskDefine.html'
                }
                else if(a === 'a'){
                    window.location.href = '/html/taskUpload.html'
                }
                return false;
            },
            createChart(){
                var option=null;
                console.log(this.selectOption);
                switch (this.selectOption) {
                    case "requestBrowser":
                        option=this.getRequestBrowser();
                        break;
                    case "requestProtocol":
                        option=this.getRequestProtocol();
                        break;
                    case "requestTime":
                        option=this.getRequestTime();
                        break;
                    case "requestUrl":
                        option=this.getRequestUrl();
                        break;
                    case "staticResourceAccess":
                        option=this.getStaticResourceAccess();
                        break;
                    case "httpMethod":
                        option=this.getHttpMethod();
                        break;
                    case "returnStatusCode":
                        option=this.getReturnStatusCode();
                        break;
                    default:
                        break;
                }
                if(option==null){
                    option=this.getEmptyChart();
                }
                this.myChart.setOption(option);
            },
            handleSelect(key, keyPath) {
                this.selectOption=key.toString();
            },
            getRequestBrowser(){
                if(this.startDate===''&&this.endDate===''){
                    alert("请选择起始日期和结束日期！");
                    return;
                }
                else if(this.startDate===''){
                    alert("请选择起始日期！");
                    return;
                }
                else if(this.endDate===''){
                    alert("请选择结束日期！");
                    return;
                }
                var option = {
                    title: {
                        text: '用户数量'
                    },
                    tooltip: {},
                    // legend: {
                    //     data:['销量']
                    // },
                    xAxis: {
                        data: ["数量","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
                    },
                    yAxis: {},
                    series: [{
                        name: '销量',
                        type: 'bar',
                        data: [5, 20, 36, 10, 10, 20]
                    }]
                };
                return option;
            },
            getRequestProtocol(){},
            getRequestTime(){},
            getRequestUrl(){},
            getStaticResourceAccess(){},
            getHttpMethod(){},
            getReturnStatusCode(){},
            getEmptyChart(){
                var option = {
                    title: {
                        text: '用户数量'
                    },
                    tooltip: {},
                    // legend: {
                    //     data:['销量']
                    // },
                    xAxis: {
                        data: ["数量","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
                    },
                    yAxis: {},
                    series: [{
                        name: '销量',
                        type: 'bar',
                        data: null
                    }]
                };
                return option;
            }
        },
        mounted(){
            var that = this;
            $.ajax({
                url:'/user/info',
                method:'GET',
                success(res){
                    if(res.code === 0){
                        that.username = res.data.username;
                    }
                    else{
                        that.$message.error('获取用户信息出错！');
                    }
                },
                error(res){
                    that.$message.error('获取用户信息出错！');
                }
            });
            this.myChart = echarts.init(document.getElementById('myChart'));
        }
    })
</script>
</body>
</html>