<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>格式化字符串</title>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.6.9/vue.min.js"></script>
    <link href="https://cdn.bootcss.com/element-ui/2.6.1/theme-chalk/index.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/element-ui/2.6.1/index.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
    <link rel="stylesheet" href="../css/stylesheet.css">
    <link rel="stylesheet" href="../css/ljy.css">
    <link rel="stylesheet" href="../css/shannon.css">

</head>
<body>
<div id="app">
    <el-container style="height:100%" v-clock>
        <el-header>
            <el-row>
                <el-col :offset="1" :span="5" style="display: flex;">
                    <img src="../images/logo.png" style="height:60px; width: auto;"/>
                    <span class="headerName">方神带我们飞</span>
                </el-col>
                <el-col :offset="14" :span="4" style="line-height: 60px;">
                    <span class="headerUsername">{{username}}</span>
                    <el-divider direction="vertical"></el-divider>
                    <span @click="onLogout" id="logoutBtn">logout</span>
                </el-col>
            </el-row>
        </el-header>
        <el-container style="height:100%">
            <el-container>
                <el-main>
                    <el-row>
                        <el-steps :active="activeStep" finish-status="success"style="width: 58%; margin-left: 21%">
                            <el-step title="创建新项目"></el-step>
                            <el-step title="选择输入文件"></el-step>
                            <el-step title="格式化字符串"></el-step>
                            <el-step title="确认提交"></el-step>
                        </el-steps>
                    </el-row>
                    <el-row style="width: 100% ;margin-top: 4%">
                        <el-col :offset="5" :span="14">
                            <el-card shadow="hover" >
                                <div slot="header" class="card-header">
                                    <span>定义日志格式</span>
                                    <span id="forHelp" @click="openHelp">帮助<i class="el-icon-question"></i></span>
                                </div>
                                <el-form id="defineForm" ref="defineForm" :model="defineForm" :rules="defineRules">
                                    <el-form-item class="inputItem" prop="define">
                                        <el-input v-model="defineForm.define"
                                                  placeholder="请输入dateFormat"
                                                  name="define"
                                                  type="textarea"
                                                  maxlength="100"
                                                  resize="none"
                                                  clearable
                                                  show-word-limit></el-input>
                                    </el-form-item>
                                    <el-form-item class="inputItem" prop="lineFormat">
                                        <el-input v-model="defineForm.lineFormat"
                                                  placeholder="请输入lineFormat"
                                                  name="lineFormat"
                                                  type="textarea"
                                                  maxlength="100"
                                                  resize="none"
                                                  clearable
                                                  show-word-limit></el-input>
                                    </el-form-item>
                                    <el-form-item class="inputItem">
                                        <el-row style="width: 100% ;margin-top: 5%">
                                            <el-col :offset="4" :span="4">
                                                <el-button id="createBtn" type="success"  @click="submitForm('defineForm')" >分析日志</el-button>
                                            </el-col>
                                            <el-col :offset="8" :span="4">
                                                <el-button  type="danger" size="medium" @click="to_filecenter">上一步</el-button>
                                            </el-col>
                                        </el-row>
                                    </el-form-item>
                                </el-form>
                            </el-card>
                        </el-col>
                    </el-row>
                </el-main>
            </el-container>
        </el-container>
    </el-container>
</div>

<script>
    var vue=new Vue({
        el:'#app',
        data:{
            username:'username',
            defineForm:{
                define:'',
                lineFormat:''
            },
            defineRules:{
                define:[{required: true, message: 'dateFormat不能为空', trigger: 'blur'}],
                lineFormat:[{required: true,message: 'lineFormat不能为空',trigger: 'blur'}],
            },
            tabIndex:"b",
            jobId:-1,
            activeStep:2
        },
        methods:{
            onLogout(){
                window.location.href="/logout";
            },
            chooseProject(command){
                console.log(command);
            },
            to_filecenter(){
                window.location.href="/html/fileCenter.html?jobId="+this.jobId
            },
            submitForm(formName) {
                var that=this;
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        $.ajax({
                            url:'/job/setFormat',
                            method:'put',
                            data:{
                                dateFormat:that.defineForm.define,
                                jobId:that.jobId,
                                lineFormat: that.defineForm.lineFormat,
                                suffix:''
                            },
                            success(res){
                                if(res.code === 0){
                                    window.location.href = '/html/confirmSubmit.html?jobId='+that.jobId;
                                }
                                else{
                                    console.log(res)
                                    that.$message.error('format错误');
                                }
                            },
                            fail:console.log
                        })
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            openHelp(){
                window.location.href='/html/help.html?jobId='+ this.jobId;
            }
        },
        mounted(){
            var that = this;
            let url = window.location.href;

            if(url.indexOf('jobId') > -1){
                let tmp = url.split('jobId=');
                this.jobId = parseInt(tmp[1]);
            }

            $.ajax({
                url:'/user/info',
                method:'GET',
                success(res){
                    if(res.code === 0){
                        that.username = res.data.username;
                    }
                    else{
                        that.$message.error('获取用户信息出错！');
                    }
                },
                error(res){
                    that.$message.error('获取用户信息出错！');
                }
            })
        }
    })
</script>
</body>
</html>