*{
    margin: 0;
    padding: 0;
}


body{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #23334b;
}

#app{
    width: 100%;
    height:100%;
    position: relative;
}

#formContainer{
    position: absolute;
    width: 400px;
    height: 350px;
    top: calc(50% - 175px);
    left: calc(50% - 200px);
    z-index: 1;
    background-color: #202d42;
    transition-duration: 0.1s;
}

.styleForReg{
    height: 400px !important;
    top: calc(50% - 200px) !important;
    transition-duration: 0.1s;
}

#pics{
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.el-tabs__header,.el-tabs__nav-wrap,.el-tabs__nav-scroll,.el-tabs__nav{
    height: 50px;
}

.el-tabs__active-bar{
    width: 200px !important;
    background-color: #ffd74d;
    color: #ffd74d;
}

.el-tabs__item{
    width: 200px !important;
    text-align: center;
    color: #90a0b3 !important;
    font-size: large;
    font-weight: bolder;
    line-height: 50px;
}

.is-active{
    color: #ffd74d !important;
}

.inputItem{
    padding:0 20px;
    margin-bottom: 40px;
}

input{
    -webkit-box-shadow: 0 0 0px 1000px #202d42 inset;
    border:none !important;
    border-radius: 0 !important;
    border-bottom: 2px solid #ccc !important;
    color: #FFFFFF !important;
    font-size: medium !important;
}

#loginBtn, #registerBtn{
    background-color: #ffd74d;
    width:100% !important;
    height: 50px;
    font-size: large;
    font-weight: bolder;
    color: #4d5b71;
}

#loginForm{
    margin-top: 20px;
}
