*{
    margin: 0;
    padding:0;
}
body{
    background-color: #F4F4F5;
    height: 100%;
    padding:0 5px;
}

html{
    height: 100%;
}

#app{
    height:calc(100% - 60px);
}

.el-header{
    background-color: #020E52;
    color: #b4c6d6;
}

.el-card{
    background-color:rgb(235,235,252);
    opacity: 0.8;
}

.card-header{
    color: #020E52;
    font-size: 20px;
    font-weight: bold;
}
.el-table .warning-row {
    background: ghostwhite;
}

.el-table .success-row {
    background: #f0f9eb;
}
.el-table{
    border: none;
}
.newpro-btn{
    background: #020E52;
    border: none;
}
.el-button--primary:focus, .el-button--primary:hover{
    background:darkslateblue;
}
.el-button--danger {
    color: #FFF;
    background-color: #630407;
    border-color: #630407;
}
.el-button--danger:focus, .el-button--danger:hover{
    color: #FFF;
    background-color: rgb(130,40,40);
    border-color: rgb(130,40,40);
}
.el-button--success{
    color: #FFF;
    background-color: #202958;
    border-color: #202958;
}

.el-button--success:focus, .el-button--success:hover{
    background:darkslateblue;
    border-color:darkslateblue;
}

.el-pager li.active, .el-pager li:hover, .el-pagination button:hover{
    color: #6366A0;
}

.el-pagination__sizes .el-select .el-input input:hover,.el-pagination__sizes .el-select .el-input input:focus{
    border-color: #6366A0 !important;
}

.el-select-dropdown__item.selected{
    color: #6366A0;
}

.btn-prev, .number, .btn-next{
    background-color: rgb(235,235,252) !important;
}

#forHelp{
    float:right;
    margin-right: 10px;
    font-size: 14px;
    font-weight: normal;
    color: #606266;
    cursor:pointer;
}

#forHelp i{
    margin-left: 5px;
}

.el-step__head.is-success{
    color: #020E52;
    border-color: #020E52;
}
.el-step__title.is-success{
    color: #020E52;
}
