.el-main{
    padding: 0;
}

.list{
    border: 1px #e6e8ea;
    border-right-style: solid;
}

.listTitle{
    font-size: larger;
    line-height: 45px;
    font-weight: bolder;
    padding-left: 20px;
}

.listItem{
    font-weight: bolder;
    max-height: 60px;
}

.keyIndicatorTitle{
    font-size: larger;
    line-height: 45px;
    padding-left: 20px;
    font-weight: bolder;
}

.keyIndicatorCard{
    height: 100px;
    width: 100px;
    display: inline;
}

.keyIndicatorText{
    line-height: 30px;
    padding-left: 20px;
}

.keyIndicatorNumber{
    font-size: larger;
    line-height: 30px;
    padding-left: 20px;
    font-weight: bolder;
}

.displayType{
    margin-top: 10px;
    margin-left: 50px;
}

#barChart{
    width: 1200px;
    height:520px;
    margin-left: 20px;
}

#lineChart{
    width: 1200px;
    height:520px;
    margin-left: 20px;
}

#pieChart{
    width: 1200px;
    height:520px;
    margin-left: 20px;
}

.el-card{
    display: inline-block !important;
    width: 24%;
}
